
<% if flash[:notice] %>
<div class="alert alert-info text-center">
  <%= flash[:notice] %>
</div>
<% end %>

<% if flash[:success] %>
<div class="alert alert-success text-center">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-danger text-center">
  <%= flash[:error] %>
</div>
<% end %>

<% if flash[:alert] %>
<div class="alert alert-danger text-center">
  <%= flash[:alert] %>
</div>
<% end %>
