<% characters = current_user.characters.order("name") %>

<div class="card-deck">
  <% characters.each do |character| %>
    <div class="card mb-3">
      <img class="card-img-top" src="http://placehold.it/340x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= link_to character.name, character %></h5>
        <p class="card-text"><%= character.summary %></p>
      </div>
    </div>
  <% end %>
</div>
